{% extends 'empty_base.html' %}
{% load static %}

{% block title %}Designio{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'front_page/assets/css/micromodal.css' %}"/>
  <style>
      .design_delete_icon {
          position: absolute;
          right: 4px;
          top: 4px;
          z-index: 2;
          background-color: white;
          padding: 6px;
          border-radius: 4px;
          cursor: pointer;
      }

      .design_delete_icon:hover {
          color: #BB0022;
          background-color: #ffbbbb;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }

  </style>

{% endblock %}

{% block nav %}
  <li><a href="/create/design/"><i class="fa fa-plus"></i>New Design</a></li>
  <li><a href="/accounts/profile/">Profile</a></li>
  <li><a href="/accounts/logout/">Logout</a></li>
{% endblock %}
{% block content %}
  <div class="container">
    {% for design_row in design_rows %}
      <div class="row">
        {% for design in design_row %}
          <div class="col-3">
            <!-- Box -->
            <section style="position: relative;" class="box feature">
              <i style=""
                 class="design_delete_icon fa fa-lg fa-trash"
                 data-design-uuid="{{ design.uuid }}"
                 data-design-name="{{ design.name }}"
              ></i>
              <a href="{{ design.view_url }}" class="image featured"><img
                  src="/media/{{ design.content_image.name }}?t={% now "U" %}"
                  alt=""/></a>

              <div style="">
                <header>
                  <h2 style="padding: 12px 4px;"><a href="{{ design.view_url }}">{{ design.name }}</a></h2>
                </header>
              </div>

            </section>
          </div>
        {% endfor %}
      </div>
    {% endfor - %}
  </div>


  <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Confirm Delete
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
            The following design will be deleted permanently:
          </p>
          <p><strong id="confirm_delete_name_span"></strong></p>
          <p>Are you sure you want to delete it?</p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-danger" onclick="delete_design();">Yes I'm sure. Delete It</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="/static/front_page/assets/js/micromodal.min.js"></script>
  <script>
      //MicroModal.init();
      let deleting_design_uuid;

      $(".design_delete_icon").click(function () {
          deleting_design_uuid = $(this).data("design-uuid");
          $("#confirm_delete_name_span").text($(this).data("design-name"));
          MicroModal.show('modal-1');
      });

      function delete_design() {
          $.ajax({
              method: "POST",
              url: "/delete/design/u/" + deleting_design_uuid + "/",
              data: {}
          }).done((resp) => {
              MicroModal.close('modal-1');
              console.log(resp);
              if (resp.success) {
                  window.location.reload();
              }
          });
      }
  </script>
{% endblock %}